html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
}

.layer {
  position: absolute;
  width: 110%;
  height: auto;
  top: -5%;
  left: -5%;
  transition: transform 0.1s linear;
}

.bg {
  z-index: 1;
}

.fg {
  z-index: 2;
}
